{
    "presets": [[
        "@babel/preset-env",
        {
            "targets": {
                "node": "current",
                "browsers": ["last 2 versions", "not ie <= 10"]
            }
        }
    ]]
}